/* .nav {
  background-color: #c4ffde;
  padding: 20px;
  display: flex;
}
.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.164);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 80px;
  margin-top: 10px;
}
.menu-bar li {
  list-style: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 16px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
}
.menu-bar li:hover::before {
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
} */
